<nav>
    <a routerLink="">Home</a>
    <a routerLink="about">About</a>
    <a routerLink="binding">Binding</a>
    <a routerLink="twobinding">Two Binding</a>
    <a routerLink="counter">Counter Example</a>
    <a routerLink="condition">Condition(IF/Swith)</a>
    <a routerLink="for">For</a>
    <a routerLink="form-template">Form Template</a>
    <a routerLink="productExample">Product Example</a>
    <a routerLink="form-reactive">Reactive</a>
</nav>

<div class="mainbody">
    <router-outlet></router-outlet>
</div>
