<p>productlist works!</p>

<!-- {{productlist}}

{{productlist|json}} -->

<table>
    <tr>
        <th>Id</th>
        <th>Product Name</th>
        <th>Product Price</th>
    </tr>
    <tr *ngFor="let item of productlist">
        <td>{{item.id}}</td>
        <td>{{item.productname}}</td>
        <td>{{item.price}}</td>
        <td>
            <button (click)="getDataFromDBById(item.id)">Edit</button>
            <button (click)="deleteDataFromDB(item.id)">Delete</button>
        </td>
    </tr>
</table>

<form (submit)="saveData(frm)" #frm="ngForm">
    <input type="text" name="productname" ngModel />
    <input type="text" name="price" ngModel />
    <input type="submit" value="Create New Product" />
</form>